/*-----------------------------index-page----------------------- */
#body{
    font-family: latha;
    color:black;
    background: url(min.jpg);
      background-size:cover;
  }
  .box{width: 300px;
    float:right;
    border: 1px solid none;
  }

.box ul li{
   width: 100px;
   float: left;
   margin: 25px auto;
   padding: 10px;
   text-align: right;
   text-decoration: none;
   list-style-type: none;

   }
.box ul li a{text-decoration: none;
   color: black;
     }

.box ul li:hover{background-color: green;}
.box ul li a:hover{color:black;}

.wd{
   width: 300px;
   height: 539px;
   background-color: black;
   opacity: 0.9;
   padding: 55px;
   }

.wd{
   width: 300px;
   height: 539px;
   background-color: black;
   opacity: 0.9;
   padding: 55px;
   }

.wd h1{
   text-align: center;
   text-transform: uppercase;
   font-weight: 100px;
  }

wd h4{
   text-align: justify;
   color: darkgray;
   font-weight: normal;
  }

.wd h2{
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  margin: 40px auto;
  }
  /*.header{
    background-color:ghostwhite;
      margin: 1px;
    border-bottom: 70px solid #c1bdb1;
  }*/

/*---------------------------login----------------------------*/


*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero{
    height: 100%;
    width: 100%;
    /*--background-color: antiquewhite;--*/
    background-position: center;
    background-size: cover;
    position: absolute;
}
.form-box{
    width: 400px;
    height: 500px;
    position: relative;
    margin: 6% auto;
    background: white;
    padding: 5px;
    overflow: hidden;
}
.button-box{
    width: 220px;
    margin: 35px auto;
    background-color: linear-gradient(to right,#000,#A52A2A);
    position: relative;
    /*box-shadow: 0 0 20px 9px #ff61241f;*/
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    color: white;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    color: white;
    background: linear-gradient(to right,#000,#A52A2A);
    border-radius: 30px;
    transition: .5s;
}
.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    color:white;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right,#000,#A52A2A);
    border: 0;
    outline: none;
    border-radius: 30px;
}

#login{
    left: 50px;
}
#register{
    left: 450px;
}
/*---------------------------------------footer-----------------------------*/
*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
.outer-footer
{
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  color: black;
  font-size: 18px;
  background-color: burlywood;
}