#body{
    font-family: latha;
    color: white;
    background: url(min.jpg);
      background-size:cover;
  }
  .dropdown{
    margin:  0 auto;
    background-color: burlywood;
    
  }
  nav{
    height: 2px;
  }
  nav ul{
    padding: 0;
    margin: 0;
    float: right;
    margin-right: 2px;
    background-color: burlywood;
  }
  nav ul li{
    margin: 35px auto;
    padding: 2px;
   /* position: relative;
    list-style: none;*/
    display: inline-block;
  }
  ul li a{text-decoration: none;
    color: black;
  }
   ul li:hover{background-color: green;}
   ul li a:hover{color:white;}
  
  nav ul li a{
    display: block;
    padding: 0 10px;
    color:black;
    text-decoration: none;
    line-height: 9px;
    font-size: 17px;
  }
  nav ul ul{
    position: absolute;
    top: 60px;
    display: none;
  }
  nav ul li:hover > ul{
      display: block;
  }
  nav ul ul li{
    width: 160px;
    float: none;
    display: list-item;
    position: relative;
  }
    /*.wd{
       width: 300px;
       height: 620px;
       background-color: black;
       opacity: 0.9;
       padding: 55px;
       }
    
    
    .wd h1{
       text-align: center;
       text-transform: uppercase;
       font-weight: 100px;
      }
    
    wd h4{
       text-align: justify;
       color: darkgray;
       font-weight: normal;
      }
    
    .wd h2{
      text-align: center;
      text-transform: uppercase;
      font-weight: normal;
      margin: 40px auto;
      }
      .submit-btn
    {
      margin-top: 20px;
      margin-right: 170px;
      background: transparent;
      background: white;
      color:black;
      width: 150px;
      padding: 15px;
      font-size: 18px;
      border-radius: 100px;
      cursor: pointer;
      display: block;
      border: 0;
      outline: none;
    
    }
    .submit-btn:hover{background-color: green;}
        /*.header{
        background-color:ghostwhite;
          margin: 1px;
        border-bottom: 70px solid #c1bdb1;
        }*/
    
        .image-section{
          width: 100%;
          padding: 2px;
          float: right;
        }
        .image-section img{
          width: 70%;
          height: auto;
        }
  /*------------------------------------------------------------------*/
        .content h1{
          font-size: 54px;
          /*letter-spacing: 3.5px;*/
          color: black;
          margin-top: 0px;
          text-align: left;
          background-color: burlywood;
        }
        .input-row{
         display: flex;
         margin-bottom: 2px;
         color: white;
       }
       .input-row .input-group{
       flex-basis: 22%;
       color: white;
       
       }
       input{
       width: 90%;
       border: none;
       border-bottom: 1px solid white;
       outline: none;
       padding-bottom: 5px;
       font-size: 15px;
       }
       textarea{
       width: 60%;
       border: 1px solid white;
       outline: none;
       padding: 10px;
       box-sizing: border-box;
       }
       label{
       margin-bottom: 2px;
       margin-top: 0px;
       display: block;
       font-size: 25px;
       color: white;
       }
       .box{
        width: 200px;
        height: 200px;
       }
       img{
        width: 200px;
        height: 200px;
       }
       .btn{
        width: 30%;
        padding: 15px 15px;
         color:white;
         cursor: pointer;
         display: block;
         margin: auto;
         background: linear-gradient(to right,#000,#A52A2A);
         border: 0;
         outline: none;
         border-radius: 25px;
        
       }
       .submit-btn{
        width: 42%;
        padding: 35px 60px;
        color:white;
        cursor: pointer;
        display: block;
        margin-top:auto;
        background: linear-gradient(to right,#000,#A52A2A);
        border: 0;
        outline: none;
        border-radius: 40px;
       }
       .submit-btn{
        width: 42%;
        padding: 35px 60px;
        color:white;
        cursor: pointer;
        display: block;
        margin-top:auto;
        width: 60%;
        background: linear-gradient(to right,#000,#A52A2A);
        border: 0;
        outline: none;
        border-radius: 40px;
      }
      .del-btn {
        width: 42%;
        padding: 35px 60px;
        color:white;
        cursor: pointer;
        display: block;
        width: 40%;
        margin-top: 410px;
        margin-left: 100px;
        background: linear-gradient(to right,#000,#A52A2A);
        border: 0;
        outline: none;
        border-radius: 40px;
      }
      .column-flex {
        display: flex;
        }
        
        .left-column {
         width: 60%;
         padding: 30px;
         margin-top: 5px;
         margin-left: 70px;
        }
        
        
        .right-column {
        width: 60%;
        padding: 35px;
        margin: 2px;
        margin-left: 340px;
        }  
       
/*---------------------------------------------------------------------footer-use-------------------------------------------*/


*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  }
  .outer-footer
  {
   padding: 15px;
   margin: 5px;
  text-align:center;
  color: black;
  font-size: 18px;
  /*margin-top: 40px;*/
  background-color: burlywood;
  
  }
  
  